doctype html
html(lang="ru")
  include blocks/head
  title  Not found
  
  body 

  section.section
    .section__wrap.container
      .text-box
        p 
        | Упс! Страница не найдена.
        a.error-page__btn.btn.btn--dark(href="/") На главную