doctype html
html(lang="ru")
  include blocks/head
    title Not found

  body
    section.section.error-page
      .section__wrap.container
        .text-box
          p
          | Упс! Страница не найдена.
          a.error-page__btn.btn.btn--dark(href="/") На главную
          svg
            use(xlink:href="sprite/sprite.svg#" + "fb")
          svg
            use(xlink:href="sprite/sprite.svg#" + "inst")
          svg
            use(xlink:href="sprite/sprite.svg#" + "tg")
          svg
            use(xlink:href="sprite/sprite.svg#" + "vk")
          svg
            use(xlink:href="sprite/sprite.svg#" + "wsapp")
